table {
    border-collapse: collapse;
    width: 100%;
    background-color: #505870;
}

th, td {
    border: 1px solid #1d1d38;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    color: white;
}

th:first-child, td:first-child { width: 25px;}
th.row2, td.row2 {width: calc((100% - 50px - 100px) / 2); }
th.row3, td.row3 { width: calc((100% - 50px - 100px) / 2); }
th:last-child, td:last-child { width: 160px; align-items: center; text-align: center;}

body {
    background-color: #42495e;
    font-family: 'Times New Roman', Times, serif;
}

p, h1, label, input {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

input {
    background-color: #ffffff00;
    border-color: rgba(255, 0, 0, 0);
    padding: 5px;
    transition: all 0.2s ease;
}

input:hover {
    background-color: #1d1d38;
}

#itemQtd {
    background-color: white;
    border-radius: 5px;
    margin-left: 5px;
    color: black;
}

#tableTitles {
    background-color: #1d1d38;
}

#tableTitles th:nth-child(2) {
    width: 40%;
}

#tableTitles th:nth-child(3) {
    width: 40%;
}

#tableTitles th:first-child {
    width: 7%;
}

h1 {
    padding-left: 10px;
}