{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Gerador de Itens Aleatórios</h1>
<div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px;">
<form action="{{ url_for('routes.generate_items') }}" method="post">
    <label for="itemQtd" style="font-weight: bold;">Quantidade de Itens</label>
    <input type="number" id="itemQtd" name="itemQtd" min="1">
    <input type="submit" value="Gerar itens">
</form>
</div>
<div style="display: flex; flex-direction: column;">
<table>
    <tr>
        <th></th>
        <th>Item</th>
        <th>Descrição</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <th>{{ item.id }}</th>
        <th>{{ item.name }}</th>
        <th>{{ item.description }}</th>
        <th>
            <form action="{{ url_for('routes.delete_item') }}", method="post">
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <input type="submit" value="Deletar">
            </form>
        </th>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}